html {
  background-color: #dbd6cf;
  box-sizing: border-box;
  text-align: center;
  font-family: "Bevan", cursive;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  border-radius: 10px;
  background-color: #713837
  color: #fff;
}

a:hover {
  background-color: #f33;
  color: #fff;
}

h1 {
  color: #fff;
}

header {
  border: #595652;
}

ul {
  list-style-type: none;
}
