html {
  background-color: #dbd6cf;
  box-sizing: border-box;
  text-align: center;
  line-height: 1.5;
  width: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #79756f;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
}

nav ul {
  display: inline-block;
  padding: .5em .75em;
  text-align: center;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
}

a,
a:link {
  background-color: #713837;
  border-radius: 5px;
  color: #fff;
  font-family: sans-serif;
  margin: .3em 0;
  padding: .6em;
  text-decoration: none;
}

a:hover {
  background-color: #f33;
  border-radius: 5px;
  color: #fff;
}

h1 {
  color: #fff;
  font-family: Bevan, serif;
  margin: .3em 0 0;
}

ul {
  list-style-type: none;
}
